@{
    ViewData["Title"] = "حریم خصوصی";
}
<h1>@ViewData["Title"]</h1>

<p>این صفحه حریم خصوصی سیستم مدیریت دانشجویان است.</p>
<p>اطلاعات دانشجویان در این سیستم محرمانه بوده و تنها توسط افراد مجاز قابل دسترسی است.</p>
<p>برای اطلاعات بیشتر با مدیر سیستم تماس بگیرید.</p>