@model ErrorViewModel
@{
    ViewData["Title"] = "خطا";
}

<h1 class="text-danger">خطا.</h1>
<h2 class="text-danger">خطایی در پردازش درخواست شما رخ داده است.</h2>

@if (Model?.ShowRequestId ?? false)
{
    <p>
        <strong>شناسه درخواست:</strong> <code>@Model?.RequestId</code>
    </p>
}

<h3>خطای سیستم</h3>
<p>
    متأسفانه خطایی در سیستم رخ داده است. لطفاً بعداً دوباره تلاش کنید یا با پشتیبانی تماس بگیرید.
</p>
<p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">بازگشت به صفحه اصلی</a>
</p>